@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  
}

body{
  font-family: 'Gabarito', cursive;
  background-color: #090a1a;
  
}

#quote-box{
  background:antiquewhite;
  width: 40rem;
  margin: 10rem auto;
  padding: 3rem;
  border-radius: 5px;
}

#text{
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

#author{
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}

#btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.socail-media .bx{
  font-size: 1.8rem;
  padding: 7px 7px;
  border-radius: 50%;
  color: antiquewhite;
  background-color:#171b3c;
}

.socail-media {
  display: flex;
  column-gap: 1.2rem;
  
}

#new-quote{
  background: #090a1a;
  border: none;
  color: antiquewhite;
  font-size: 1.4rem;
  padding: 5px 7px 5px 7px;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  text-align: center;
  text-decoration: none;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
 
}
.footer a{
  
  text-decoration: none;
  color:#647bff;
}


@media (hover:hover){
  
  .socail-media .bx:hover{
    background:#647bff;
    color: #090a1a;
    transition: 0.3s all linear;
  }
  #new-quote:hover{
    background:#647bff;
    color: #090a1a;
    transition: 0.3s all linear;
  
  }
}

@media only screen and (max-width:449px){



  #quote-box{
    width:min-content
  }

  #text{
    font-size: 1.2rem;
  }

  #author{
    font-size: 1.2rem;
  }
  
  .socail-media .bx{
    font-size: 1.5rem;
    padding: 3px;
  }

  .socail-media {
    column-gap: 0.6rem;
    
  }

  #new-quote{

    font-size: 1rem;

    margin-left: 3rem;
    border-radius: 5px;
    cursor: pointer;
  }

 
}